{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div id="main-content" class="container">
  <!-- <div class="d-flex flex-row bd-highlight mb-3 float-md-left"> -->
  <div class = "row-full" id="first-row"><h1></h1></div>
  <div class="d-flex flex-row bd-highlight mb-3 float-md-left">
    <div class ="col"></div>
    <div class="col-9">
      <div class="d-flex flex-row bd-highlight mb-3 float-md-left">
        <div class="col-9 p-2 bd-highlight">
          <img src="images/IMG_5892.jpeg" class="img-fluid img-thumbnail" alt="photo of me playing the ukelele"></div>
        <div class="col p-2 bd-highlight">
          <h5>Who am I?</h5>
          I am a mom, mathematician, amateur musician, nature lover, and detail-oriented coder--with a passion for elegance.
        </div>
      </div>
    </div>
    <div class="col"></div>    
  </div>
    <div class = "row-full"><h1>Knowledge is power.</h1></div><!-- </div> -->      
</div> <!-- end main content container -->

{% endblock %}