<!-- templates/bse.html -->
<!DOCTYPE html>
{% load static %} 
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="ZayeHalo Media Design and Technology">
    <meta property="og:image" 
    content="https://zayehalo.com/images/zayehalo-wordmark-rectangle-twitter.png">
    <meta property="og:description" content="Knowledge is power.">
    <meta property="og:url" content="https://zayehalo.com/index.html">
    <meta name="twitter:card" content="summary_large_image">
	<title>{% block title %}ZayeHaloMediaDesign&Technology{% endblock %}</title>
     
    <link href="{% static 'css/bootstrap.min.css' %}" >
    <link href="{% static 'css/styles.css' %}" >  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
     
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">
    <!-- <link rel="stylesheet" href="zayehalo_website/static/css/bootstrap.min.css" type='text/css'>
    <link rel="stylesheet" href="zayehalo_website/static/css/styles.css" type='text/css'> -->
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <!-- <a href='https://pngtree.com/so/social-icons'>social-icons png from pngtree.com</a> -->
</head>
<body>
<div id="main-content" class="container-flex">
    {% include 'socialmedia.html' %}
    <header class="site-header" id="site-header">
        {% include 'navbar.html' %}
    </header>
    <main> 
        <div class = row-full> 
    		{% block content %}
    		{% endblock %}  
        </div>
    {% include 'bottomnav.html' %}    
    </main>

    

    <footer>
    {% include 'footer.html' %}
    </footer>
</div>
	<!-- jQuery (Bootstrap JS plugins depend on it) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript">
	function googleTranslateElementInit() {
	  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');}
	</script>

	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
    <script>alert();</script> 
</body>
</html>