{% load static %} 
<link href="{% static 'css/bootstrap.min.css' %}" >
<link href="{% static 'css/styles.css' %}" >  
<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}"> 
<link rel="stylesheet" href="{% static '/css/styles.css' %}"> <!--  -->
<!--bottom navbar --> 

<div class="container"> <!--bottom navbar --> 
    <nav class="navbar navbar-expand-lg navbar-dark .bg-transparent justify-content-center">  
      <div class="navbar-nav">
        <a class="nav-link" href="#">Coronavirus Data</a>
        <a class="nav-link" href="#">The Truth Matters</a>
        <a class="nav-link" href="#">Data Visualization</a>
      </div>
    </nav> 
  </div>