  <!--social media sidebar-->
  {% load static %} 
<link href="{% static 'css/bootstrap.min.css' %}" >
<link href="{% static 'css/styles.css' %}" >  
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
<div class="sticky-container">
    <ul class="sticky">
        <li>
            <img src="/static/images/twitter-circle.png" width="32" height="32"><a href="https://twitter.com/zayehalo" target="_blank">
            <p>Follow Us on<br>Twitter</p></a>
        </li>
        <li>
            <img src="/static/images/linkedin-circle.png" width="32" height="32"><a href="https://www.linkedin.com/in/crystal-dennis-582572171/" target="_blank">
            <p>Follow Us on<br>LinkedIn</p></a>
        </li>
    </ul>
</div>
<!--end social sidebar-->